
	<!--DO NOT REMOVE-->
	{{ patternLabFoot | raw }}

  <!-- inject:js -->
  <script src="../../../../bower_components/domready/ready.js"></script>
  <script src="../../../../bower_components/jquery/dist/jquery.js"></script>
  <!-- endinject -->

	</body>
</html>
