@mixin transparent-overlay($color) {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color;
  }
}

@mixin phase2-overlay-navy() {
  @include transparent-overlay($phase2-navy--transparent);
}

@mixin phase2-overlay-orange() {
  @include transparent-overlay($phase2-orange--transparent);
}
