$c-orange: #fe7900; // Primary Orange color
$c-navy: #0e2e41;// Primary dark
$c-gold: #febd3b;//Gold
$c-yellow: #fbd54d; //The yellow
$c-teal: #008eb0;
$c-gray--dark: #4c4c4e;
$c-gray--light: #d6d6d6;
$c-white: #fff;
