$phase2-orange: hsl(28, 100%, 49%); // #fa7500
$phase2-orange--transparent: hsla(28, 100%, 49%, 0.85);
$phase2-navy: hsl(202, 64%, 15%); // #0e2d3f
$phase2-navy--transparent: hsla(202, 64%, 15%, 0.85);
$phase2-gold: hsl(40, 98%, 61%); // #fdbc3a
$phase2-yellow: hsl(46, 95%, 64%); // #fad24c
$phase2-teal: hsl(191, 100%, 34%); // #008ead
$phase2-text-color: hsl(255, 0%, 15%); // #262626
$phase2-gray--dark: hsl(240, 1%, 30%); // #4c4c4d
$phase2-gray--light: hsl(0, 0%, 83%); // #d4d4d4
$phase2-white: hsl(0, 0%, 100%); // #ffffff
