<div class="sg-items">
  <figure class="sg-items__item">
    <h4>Navy Overlay</h4>
    <div class="u-phase2-overlay--navy"><img style="width: 100%;" src="http://placekitten.com/400/300"/></div>
    <figcaption>
      <pre><code class="scss">@include phase2-overlay-navy();</code></pre>
    </figcaption>
  </figure>
  <figure class="sg-items__item">
    <h4>Orange Overlay</h4>
    <div class="u-phase2-overlay--orange"><img style="width: 100%;" src="http://placekitten.com/400/300"/></div>
    <figcaption>
      <pre><code class="scss"> @include phase2-overlay-orange(); </code></pre>
    </figcaption>
  </figure>
</div>
